.App {
  background-size: cover;
  background-color: #3f3f3f;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.HeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1d1d1d;
  width: 100vw;
  height: 10vh;
}

.HeaderList {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 30%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  margin-left: 2%;
}


.CustomButton {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  height: 100%;
  width: 20%;
  transition: background-color 0.2s;
}
.CustomButton:hover {
  background-color: #1677ff;
}


.ContentContainer {
  display: flex;
  flex: 1;
  width: 100vw;
  color: white;
}

.SimContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.MapContainer {
  display: flex;
  width: 75vw;
  justify-content: center;
  align-items: center;
}

.MapBorder {
  display: flex;
  background-color: #282828;
  height: 90%;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.MapPart {
  height: 80%;
  width: 95%;
}


.ModificationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

.ModificationBorder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: #282828;
  border-radius: 15px;
}

.ModificationSettings {
  background-color: #575757;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 30%;
  border-radius: 25px;
  margin-top: 5%;
}

.ModifyBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 85%;
}

.FlightNameInput {
  margin-top: 8px;
  margin-bottom: 4px;
  width: 80%;
}

.RangeInputs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.SliderCard {
  background-color: #575757;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 5%;
}


.GraphContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2.5%;
  height: 90%;
  width: 100%;

}

.GraphCardBorder{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  height: 95%;
  width: 45%;
  border-radius: 25px;
}

.AboutUsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.AboutUsCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282828;
  width: 80%;
  height: 60%;
  border-radius: 25px;
}